.Calculator{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #DC4C46;
    width: 300px;
    height: 500px;
    border-radius: 25px;

}

.Calculator td button{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 25px;

}   

#resultado{
    display: block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    width: 255px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 30px;
    overflow-y: scroll;
    
}

